<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MusicEducation.Service.Properties.Settings.db_music_educationConnectionString"
            connectionString="Data Source=hana\SQLEXPRESS;Initial Catalog=db_music_education;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>