<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MusicEducation.Service.Properties.Settings.DB_9FC383_musiceducationConnectionString1"
            connectionString="Data Source=KUZMA-PC;Initial Catalog=DB_9FC383_musiceducation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <!--<add name="MusicEducation.Service.Properties.Settings.DB_9FC383_musiceducationConnectionString"
            connectionString="Data Source=SQL5031.myASP.NET;Initial Catalog=DB_9FC383_musiceducation;Persist Security Info=True;User ID=DB_9FC383_musiceducation_admin;Password=6Kb20OmIIPKtZZQe"
            providerName="System.Data.SqlClient" />-->
        <!--<add name="MusicEducation.Service.Properties.Settings.DB_9FC383_musiceducationConnectionString2"
            connectionString="Data Source=hana\SQLEXPRESS;Initial Catalog=DB_9FC383_musiceducation;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
</configuration>