<div class="pusher">
	<div class="ui fluid container">
		<div class="ui two column grid">
			<div class="side menu" id="sideMenu">
				<div align="center" class="profile">
					<br>
					<a href=""><img src="content/img/piano-min.png" alt="Marry Doe" class="ui circular image" width="150px"></a>
					<div class="ui white header">{{globals.currentUser.source.LastName}} {{globals.currentUser.source.FirstName[0]}}. {{globals.currentUser.source.MiddleName[0]}}</div>
					<div class="ui divider"></div>
				</div>
				<div class="ui fluid vertical menu">
					<a href="#/main" class="item"><i class="dashboard icon"></i> <span>Главная</span></a>
					<a href="#/profile" class="item"><i class="user icon"></i> <span>Профиль</span></a>
                    <a href="#/message" class="item"><i class="mail icon"></i> <span>Сообщения</span></a>
					<a href="#/bankTest" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="student icon"></i> <span>Банк вопросов</span></a>
                    <a href="#/test" ng-if="globals.currentUser.source.RoleName != 'Администратор'" class="item"><i class="book icon"></i> <span>Тесты</span></a>
                    <a href="#/task" ng-if="globals.currentUser.source.RoleName != 'Администратор'" class="item"><i class="book icon"></i> <span>Задания</span></a>
					<a href="#/piano" class="item"><i class="table icon"></i> <span>Пианино</span></a>
					<a href="#/student" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="student icon"></i> <span>Ученики</span></a>
					<a href="#/constructor" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="dashboard icon"></i> <span>Конструктор заданий</span></a>
					<a href="#/user" ng-if="globals.currentUser.source.RoleName == 'Администратор'" class="item"><i class="dashboard icon"></i> <span>Пользователи</span></a>
					<a href="#/group" ng-if="globals.currentUser.source.RoleName == 'Администратор'" class="item"><i class="group icon"></i> <span>Группы</span></a>
					<!--<a href="chart.html" class="item"><i class="bar chart icon"></i> <span>Chart</span></a>
					<a href="card.html" class="item"><i class="block layout icon"></i> <span>Card</span></a>
					<a href="progress.html" class="item"><i class="tasks icon"></i> <span>Progress Bar</span></a>
					<a href="index.html" class="item"><i class="sign in icon"></i> <span>Login</span></a>
					<a href="dashboard.html" class="item"><i class="file icon"></i> <span>Sample</span></a>
					<a href="dashboard.html" class="item"><i class="file icon"></i> <span>Sample</span></a>-->
				</div>
			</div>

			<div class="sixteen wide column" id="content" ng-if="vm.id == '' && globals.currentUser.source.Id_Role === 2">
				<h2><i class="book icon"></i> Банк вопросов</h2>
				<div class="ui divider"></div>

				<div class="ui right aligned grid">
					<div class="row">
						<div class="twelve wide column"></div>
						<div class="two wide column">
							<button class="ui button blue"
									ng-click="vm.isShowCreateTestWindow = !vm.isShowCreateTestWindow">
								<i class="random icon"></i>
								Генерация теста
							</button>
						</div>
						<div class="two wide column">
							<button class="ui button blue"
									ng-click="vm.addTest()">
								<i class="plus icon"></i>
								Создать тему
							</button>
						</div>
					</div>
				</div>

				<table class="ui selectable celled table">
					<thead>
						<tr>
							<th>Название</th>
							<th>Дата создания</th>
                            <th>Создатель</th>
							<th>Количество вопросов</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="theme in vm.avalibleThemes">
							<!--<td class="collapsing">
								<checkbox checked="false" ng-model="vm.selectedTests[test.Id]"></checkbox>
							</td>-->
							<td>{{theme.Name}}</td>
							<td>{{theme.DateCreate}}</td>
                            <td>{{theme.LastName + ' ' + theme.FirstName[0] + '. ' + theme.MiddleName[0]}}</td>
							<td>{{theme.CountQuestions}}</td>
							<td class="collapsing">
								<div class="ui icon buttons">
                                    <button class="ui button"
                                            ng-click="vm.goToTheme(theme)">
                                        <i class="edit icon"></i>
                                    </button>
									<!--<button class="ui button"
											ng-click="vm.deleteTest(test)">
										<i class="delete icon"></i>
									</button>-->
								</div>
							</td>
						</tr>
					</tbody>
					<!--<tfoot class="full-width">
						<tr>
							<th></th>
							<th colspan="4">
								<button class="ui right floated small red labeled icon button"
										ng-click="vm.deleteTests()">
									<i class="delete icon"></i> Удалить
								</button>
							</th>
						</tr>
					</tfoot>-->
				</table>

				<div class="ui divider"></div>
				<div align="center">
					Нажмите на строку из таблицы, чтобы начать тестирование
				</div>
			</div>

			<div class="sixteen wide column" id="content" ng-if="vm.id != '' && globals.currentUser.source.Id_Role === 2 && vm.editableState == 0">
				<h2><i class="book icon"></i> {{ (vm.id == 'new') ? 'Создание' : 'Редактирование' }} темы {{  (vm.id == 'new') ? '' : vm.currentTest.Name }}</h2>
				<div class="ui divider"></div>

                <form class="ui form">
                    <div class="field">
                        <label>Название темы</label>
                        <input type="text" name="first-name" placeholder="Введите название темы" ng-model="vm.currentTest.Name">
                    </div>
                </form>
                <div class="ui divider"></div>
                <div class="ui right aligned grid">
                    <div class="row">
                        <div class="fourteen wide column"></div>
                        <div class="two wide column">
                            <button class="ui button blue"
                                    ng-click="vm.moveToEditableQuestion(vm.currentTest.Questions.length)">
                                <i class="plus icon"></i>
                                Создать вопрос
                            </button>
                        </div>
                    </div>
                </div>

				<table class="ui selectable celled table">
					<thead>
						<tr>
                            <th></th>
							<th>Название</th>
							<!--<th>Создатель</th>-->
							<th></th>
						</tr>
					</thead>
					<tbody>
						<!--ng-click="vm.selectedQuestions[question.Id] = (vm.selectedQuestions[question.Id] !== undefined && vm.selectedQuestions[question.Id] !== null) ? !vm.selectedQuestions[question.Id] : true">-->
						<tr ng-repeat="question in vm.currentTest.Questions track by $index">
                            <td class="collapsing">
                                <checkbox checked="false" ng-model="vm.deletable[$index]"></checkbox>
                            </td>
                            <td>{{question.Name}}</td>
							<td class="collapsing">
								<div class="ui icon buttons">
									<button class="ui button"
											ng-click="vm.moveToEditableQuestion($index)">
										<i class="edit icon"></i>
									</button>
									<!--<button class="ui button"
											ng-click="vm.deleteQuestion(question)">
										<i class="delete icon"></i>
									</button>-->
								</div>
							</td>
						</tr>
					</tbody>
                    <tfoot class="full-width">
                        <tr>
                            <th></th>
                            <th colspan="3">
                                <div class="ui small  button"
                                     ng-click="vm.deleteQuestions()">
                                    Удалить выделенных
                                </div>
                            </th>
                        </tr>
                    </tfoot>
					<!--<tfoot class="full-width">
			<tr>
				<th></th>
				<th colspan="4">
					<button class="ui right floated small red labeled icon button"
							ng-click="vm.deleteTests()">
						<i class="delete icon"></i> Удалить
					</button>
				</th>
			</tr>
		</tfoot>-->
				</table>

                <div class="ui grid" style="margin-top:5px">
                    <div class="row">
                        <div class="left floated aligned six wide column">
                        </div>
                        <div class="right floated right aligned six wide column">
                            <button class="ui right labeled icon green button"
                                    ng-click="vm.updateEditableTest(vm.currentTest)">
                                Сохранить
                                <i class="checkmark chevron icon"></i>
                            </button>
                        </div>
                    </div>
                </div>

				<div class="ui divider"></div>
				<div align="center">
					---
				</div>
			</div>

			<div class="sixteen wide column" id="content" ng-if="vm.id != '' && globals.currentUser.source.Id_Role === 2 && vm.editableState == 1">
				<h2><i class="book icon"></i> Редактирование темы  {{ vm.currentTest.Name }}</h2>
				<div class="ui divider"></div>

				<form class="ui form">
					<div class="field">
						<label>Название темы</label>
						<input type="text" name="first-name" placeholder="Введите название темы" ng-model="vm.currentTest.Name">
					</div>
					<div class="field">
						<label>Вопрос</label>
						<input type="text" name="first-name" placeholder="Введите вопрос" ng-model="vm.currentTest.Questions[vm.currentQuestionEditable].Name">
					</div>
				</form>

				<div class="ui grid" style="margin-top:5px">
					<div class="row">
						<div class="left floated aligned six wide column">
							<div class="ui primary button"
								 ng-click="vm.backToQuestions()">
								<i class="left chevron icon"></i> Вопросы
							</div>
						</div>
						<div class="right floated right aligned six wide column">
							<div class="ui primary button"
								 ng-click="vm.appnedAnswer(vm.currentTest.Questions[vm.currentQuestionEditable].Answers)">
								<i class="add icon"></i> Добавить ответ
							</div>
						</div>
					</div>
				</div>

				<div class="ui relaxed divided items">
					<div class="item" ng-repeat="answer in vm.currentTest.Questions[vm.currentQuestionEditable].Answers track by $index">
						<div class="content">
							<div class="ui grid">
								<div class="floated aligned six wide column">
									<a href="#" editable-text="answer.Name">{{ answer.Name || 'пусто' }}</a>
								</div>
								<div class="right floated right aligned six wide column">
									<i class="ui checkmark big link icon"
									   ng-if="answer.IsValid !== undefined"
									   ng-class="answer.IsValid == true ? 'green' : ''"
									   ng-click="vm.setChoice(vm.currentTest.Questions[vm.currentQuestionEditable].Answers, answer)"></i>
									<i class="ui delete big red link icon"
									   ng-click="vm.removeAnswerInQuestion($index)"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="ui grid" style="margin-top:5px">
					<div class="row">
						<div class="left floated aligned six wide column">
							<button class="ui labeled icon primary button"
									ng-disabled="vm.currentTest.Questions[vm.currentQuestionEditable - 1] === undefined"
									ng-click="vm.moveToEditableQuestion(vm.currentQuestionEditable - 1)">
								<i class="left chevron icon"></i>
								Предыдущий
							</button>
						</div>
						<div class="right floated right aligned six wide column">
							<button class="ui right labeled icon primary button"
									ng-click="vm.moveToEditableQuestion(vm.currentQuestionEditable + 1)">
								Следующий
								<i class="right chevron icon"></i>
							</button>
						</div>
					</div>

					<div class="row">
						<div class="left floated aligned six wide column">
						</div>
						<div class="right floated right aligned six wide column">
							<button class="ui right labeled icon green button"
									ng-click="vm.updateEditableTest(vm.currentTest)">
								Сохранить
								<i class="checkmark chevron icon"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="ui divider"></div>
				<div align="center">
					---
				</div>
			</div>
		</div>
	</div>
</div>

<modal ng-model="vm.isShowCreateTestWindow">
	<i class="close icon" ng-click="vm.closeTestResultModel()"></i>
	<div class="header">
		Генератор тестов
	</div>
	<div class="content">
		<div class="description">
			<form class="ui form" name="testForm">
				<div ng-init="vm.testForm = testForm"></div>
				<div class="field"
					 ng-class="((testForm.$submitted || testForm.test_name.$touched) && testForm.test_name.$error.required !== undefined ? 'error' : '')">
					<label>Название теста</label>
					<div ng-show="testForm.$submitted || testForm.test_name.$touched">
						<!--<div ng-show="testForm.test_name.$error.required">Необходимо ввести логин.</div>-->
					</div>
					<input type="text" name="test_name"
						   placeholder="Введите название теста"
						   ng-model="vm.currentInputTest.Name"
						   required="">
				</div>

				<div class="field"
					 ng-class="((testForm.$submitted || testForm.test_complexity.$touched) && testForm.test_complexity.$error.required !== undefined ? 'error' : '')">
					<label>Сложность</label>
					<div ng-show="testForm.$submitted || testForm.test_complexity.$touched">
						<!--<div ng-show="testForm.test_complexity.$error.required">Необходимо выбрать сложность.</div>-->
					</div>

					<select name="test_complexity"
							ng-model="vm.currentInputTest.Complexity"
							required>
						<option value="">Выбрать сложность</option>
						<option value="3">Тяжёлый</option>
						<option value="2">Средний</option>
						<option value="1">Лёгкий</option>
					</select>

					<!--<dropdown name="test_complexity" open="false"
				  ng-model="vm.currentInputTest.Complexity"
				  title="Выберете сложности">
			<dropdown-group value="5">Очень сложно</dropdown-group>
			<dropdown-group value="4">Сложно</dropdown-group>
			<dropdown-group value="3">Не очень сложно</dropdown-group>
			<dropdown-group value="2">Средне</dropdown-group>
			<dropdown-group value="1">Легко</dropdown-group>
		</dropdown>-->
				</div>

				<div class="field">
					<label>Темы</label>
                    <div>
                        Для выбора нескольких тем, зажмите CTRL
                    </div>
					<select name="teacher"
							ng-options="obj.Name for obj in vm.avalibleThemes track by obj.Id"
							ng-model="vm.selected"
                            style="margin-bottom:5px"
							required
							multiple>
						<option value="">Выбрать темы</option>
					</select>

                    <div class="ui field" ng-repeat="theme in vm.avalibleThemesQuestions track by $index">
                        <label>{{theme.Name}}</label>
                        <table class="ui selectable celled table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Название</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="question in theme.Questions">
                                    <td class="collapsing">
                                        <checkbox checked="false" ng-model="vm.selectedQuestions[question.Id]"></checkbox>
                                    </td>
                                    <td>{{question.Name}}</td>
                                </tr>
                            </tbody>
                            <tfoot class="full-width" ng-if="$index == vm.avalibleThemesQuestions.length - 1">
                                <tr>
                                    <th></th>
                                    <th colspan="2">
                                        <div class="ui action left icon input" style="width:200px">
                                            <i class="random icon"></i>
                                            <input type="text" placeholder="Введите количество" ng-model="vm.countQuestionsRandomize">
                                            <div class="ui teal button" ng-click="vm.selectQuestionRandomize()">Выделить случайные</div>
                                        </div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
				</div>
				<!--<div class="field">
			<label>Попытки</label>
			<input type="text"
				   name="countAttempts"
				   placeholder="Введите кол-во попыток"
				   ng-model="vm.currentInputGroup.CountAttempts">
		</div>
		<div class="field">
			<label>Время выполнения</label>
			<input type="text"
				   name="timing"
				   placeholder="Введите время выполнения в минутах"
				   ng-model="vm.currentInputGroup.Timing">
		</div>-->
			</form>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<button type="submit" class="ui ok green button" ng-click="vm.createTest()" ng-disabled="vm.selectedQuestions.length == 0">
				<i class="checkmark icon"></i>
				Создать
			</button>
		</div>
	</div>
</modal>

<modal class="basic" ng-model="vm.isTestComplete" ng-if="vm.testResult.Id !== undefined">
	<i class="close icon" ng-click="vm.closeTestResultModel()"></i>
	<div class="header">
		Поздравляем! вы прошли тест
	</div>
	<div class="image content">
		<div class="image">
			<i class="child icon"></i>
		</div>
		<div class="description">
			<p>Поздравляем!</p>
			<p>Вы набрали {{vm.testResult.CountUserAnswerValid}} из {{vm.testResult.CountAnswerValid}} баллов</p>
			<p>Это составляет {{vm.testResult.UserAnswerValidPercent}}%</p>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<div class="ui ok green basic inverted button" ng-click="vm.closeTestResultModel()">
				<i class="checkmark icon"></i>
				Хорошо!
			</div>
		</div>
	</div>
</modal>

<script type="text/javascript" src="content/js/main.js"></script>