<div class="pusher">
	<div class="ui fluid container">
		<div class="ui two column grid">
			<div class="side menu" id="sideMenu">
				<div align="center" class="profile">
					<br>
					<a href=""><img src="content/img/piano-min.png" alt="Marry Doe" class="ui circular image" width="150px"></a>
					<div class="ui white header">{{globals.currentUser.source.LastName}} {{globals.currentUser.source.FirstName[0]}}. {{globals.currentUser.source.MiddleName[0]}}</div>
					<div class="ui divider"></div>
				</div>
				<div class="ui fluid vertical menu">
					<a href="#/main" class="item"><i class="dashboard icon"></i> <span>Главная</span></a>
					<a href="#/profile" class="item"><i class="user icon"></i> <span>Профиль</span></a>
                    <a href="#/message" class="item"><i class="mail icon"></i> <span>Сообщения</span></a>
					<a href="#/bankTest" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="student icon"></i> <span>Банк вопросов</span></a>
					<a href="#/test" ng-if="globals.currentUser.source.RoleName != 'Администратор'" class="item"><i class="book icon"></i> <span>Тесты</span></a>
                    <a href="#/task" ng-if="globals.currentUser.source.RoleName != 'Администратор'" class="item"><i class="book icon"></i> <span>Задания</span></a>
                    <a href="#/piano" ng-if="globals.currentUser.source.RoleName != 'Администратор'" class="item"><i class="table icon"></i> <span>Пианино</span></a>
                    <a href="#/student" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="student icon"></i> <span>Ученики</span></a>
					<a href="#/constructor" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="dashboard icon"></i> <span>Конструктор заданий</span></a>
					<a href="#/user" ng-if="globals.currentUser.source.RoleName == 'Администратор'" class="item"><i class="dashboard icon"></i> <span>Пользователи</span></a>
					<a href="#/group" ng-if="globals.currentUser.source.RoleName == 'Администратор'" class="item"><i class="group icon"></i> <span>Группы</span></a>
					<!--<a href="chart.html" class="item"><i class="bar chart icon"></i> <span>Chart</span></a>
					<a href="card.html" class="item"><i class="block layout icon"></i> <span>Card</span></a>
					<a href="progress.html" class="item"><i class="tasks icon"></i> <span>Progress Bar</span></a>
					<a href="index.html" class="item"><i class="sign in icon"></i> <span>Login</span></a>
					<a href="dashboard.html" class="item"><i class="file icon"></i> <span>Sample</span></a>
					<a href="dashboard.html" class="item"><i class="file icon"></i> <span>Sample</span></a>-->
				</div>
			</div>
			<div class="sixteen wide column" id="content">
				<h2><i class="book icon"></i> Главная</h2>
				<div class="ui divider"></div>

				<!--<h3>Пока тут нечего нету =( можно посмотреть другие вкладки</h3>-->
				<!--<h4>Тут будет какая-то личная статистика, полученные достижения и тд</h4>-->

                <div class="ui one column stackable grid ui form" ng-if="globals.currentUser.source.RoleName == 'Администратор'">
                    <!--<button class="btn" ng-click="vm.pushNewData()">Добавить</button>-->

                    <div class="column">
                        <div class="ui segments" style="width:100%">
                            <div class="ui segment"><h3>Статистика посещений</h3></div>
                            <div style="height:300px;padding-right:10px">
                                <am-chart id="first" options="vm.amChartOptions" chart="vm.chart"></am-chart>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui one column stackable grid ui form" ng-if="globals.currentUser.source.RoleName == 'Учитель'">
                    <!--<button class="btn" ng-click="vm.pushNewData()">Добавить</button>-->

                    <div class="column">
                        <div class="ui segments" style="width:100%">
                            <div class="ui segment"><h3>Статистика пребывания негров в системе</h3></div>
                            <div style="height:300px;padding-right:10px">
                                <am-chart id="first" options="vm.amChartOptions" chart="vm.chart"></am-chart>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui one column stackable grid ui form" ng-if="globals.currentUser.source.RoleName == 'Ученик'">
                    <!--<button class="btn" ng-click="vm.pushNewData()">Добавить</button>-->

                    <div class="column">
                        <div class="ui segments" style="width:100%">
                            <div class="ui segment"><h3>Среднее затраченное время</h3></div>
                            <div style="height:300px;padding-right:10px">
                                <am-chart id="first" options="vm.amChartOptions" chart="vm.chart"></am-chart>
                            </div>
                        </div>
                    </div>
                </div>

				<div class="ui divider"></div>

				<div align="center">
					Тестовая версия
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="content/js/main.js"></script>