<div class="pusher">
	<div class="ui fluid container">
		<div class="ui two column grid">
			<div class="side menu" id="sideMenu">
				<div align="center" class="profile">
					<br>
					<a href=""><img src="content/img/incognito.png" alt="Marry Doe" class="ui circular image" width="150px"></a>
					<div class="ui white header">{{globals.currentUser.source.LastName}} {{globals.currentUser.source.FirstName[0]}}. {{globals.currentUser.source.MiddleName[0]}} </div>
					<div class="ui divider"></div>
				</div>
				<div class="ui fluid vertical menu">
					<a href="#/main" class="item"><i class="dashboard icon"></i> <span>Главная</span></a>
					<a href="#/test" class="item"><i class="book icon"></i> <span>Тесты</span></a>
					<a href="#/piano" class="item"><i class="table icon"></i> <span>Пианино</span></a>
                    <a href="#/student" class="item"><i class="student icon"></i> <span>Студенты</span></a>
					<!--<a href="chart.html" class="item"><i class="bar chart icon"></i> <span>Chart</span></a>
					<a href="card.html" class="item"><i class="block layout icon"></i> <span>Card</span></a>
					<a href="progress.html" class="item"><i class="tasks icon"></i> <span>Progress Bar</span></a>
					<a href="index.html" class="item"><i class="sign in icon"></i> <span>Login</span></a>
					<a href="dashboard.html" class="item"><i class="file icon"></i> <span>Sample</span></a>
					<a href="dashboard.html" class="item"><i class="file icon"></i> <span>Sample</span></a>-->
				</div>
			</div>
			<div class="sixteen wide column" id="content">
				<h2><i class="book icon"></i> Пианино</h2>
				<div class="ui divider"></div>

				<div class="keyboard-options">
					<div ID="keyboard" class="keyboard-holder"></div>
				</div>

					<div class="ui divider"></div>
					<div align="center">
						Для игры на пианино можно использовать клавиши [A-z], также цифры [1-9]
					</div>
				</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="content/js/main.js"></script>
<script type="text/javascript">

var keys = {
    4 : {
        C : 1,
        D : 1,
        F : 1,
        G : 1
    }
};

var player = {
    barDuration : 8,
    timeline : 0,
    velocity : 127,
    key : keys[4],
    tempAlts : {},
    play : function(noteString, duration, moveTime) {
        var noteInt = this.calcNote(noteString);

        MIDI.noteOn(0, noteInt, this.velocity, this.timeline);
        MIDI.noteOff(0, noteInt, this.velocity, this.timeline + this.barDuration * duration);

        if (typeof moveTime !== 'undefined' && moveTime === true) {
            this.move(duration);
        }
    },
    move : function(duration) {
        this.timeline += this.barDuration * duration;
        if (this.isEndOfBar()) {
            this.tempAlts = {};}
    },
    calcNote : function(noteString) {
        var note = noteString[0];
        var noteWithOctave = noteString.substring(0,2);
        var altering = this.getAltering(noteString);
        // set altering
        if (altering) {
            this.setTempAltering(noteWithOctave, altering);
        }
        // if temporary altering is set - start keys shouldn't be applied
        if (this.tempAlts[noteWithOctave] !== undefined) {
            return MIDI.keyToNote[noteWithOctave] + this.tempAlts[noteWithOctave];
        }
        return MIDI.keyToNote[noteWithOctave] +
                (this.key[note] !== undefined ? this.key[note] : 0);
    },
    isEndOfBar : function() {
        return !!(this.timeline % this.barDuration === 0)
    },
    getAltering : function(noteString) {
        var altering = noteString[2];
        return altering !== undefined ? altering : false;
    },
    setTempAltering : function(noteWithOctave, altering) {
        switch (altering) {
            case 'b': this.tempAlts[noteWithOctave] = -1; break;
            case '%': this.tempAlts[noteWithOctave] = 0;  break;
            case '#': this.tempAlts[noteWithOctave] = 1;  break;
        }
    }
}

function play() {

	var notesArray = [
		{ note: 'E1', duration: 1 / 2, isMove: true },
		{ note: 'C2', duration: 1 },
		{ note: 'C1', duration: 1 },
		{ note: 'G3', duration: 1 / 12, isMove: true },
		{ note: 'C4', duration: 1 / 12, isMove: true },
		{ note: 'E4', duration: 1 / 12, isMove: true },
		{ note: 'G3', duration: 1 / 12, isMove: true },
		{ note: 'C4', duration: 1 / 12, isMove: true },
		{ note: 'E4', duration: 1 / 12, isMove: true },
		{ note: 'G3', duration: 1 / 12, isMove: true },
		{ note: 'C4', duration: 1 / 12, isMove: true },
		{ note: 'E4', duration: 1 / 12, isMove: true },
		{ note: 'G3', duration: 1 / 12, isMove: true },
		{ note: 'C4', duration: 1 / 12, isMove: true },
		{ note: 'E4', duration: 1 / 12, isMove: true },

		{ note: 'C2', duration: 1 },
		{ note: 'C1', duration: 1 },
		{ note: 'G3', duration: 1 / 12, isMove: true },
		{ note: 'C4', duration: 1 / 12, isMove: true },
		{ note: 'E4', duration: 1 / 12, isMove: true },
		{ note: 'G3', duration: 1 / 12, isMove: true },
		{ note: 'C4', duration: 1 / 12, isMove: true },
		{ note: 'E4', duration: 1 / 12, isMove: true },
		{ note: 'G3', duration: 1 / 12, isMove: true },
		{ note: 'C4', duration: 1 / 12, isMove: true },
		{ note: 'E4', duration: 1 / 12, isMove: true },
		{ note: 'G3', duration: 1 / 12, isMove: true },
		{ note: 'C4', duration: 1 / 12, isMove: true },
		{ note: 'E4', duration: 1 / 12, isMove: true },

		{ note: 'B1', duration: 1 },
		{ note: 'B2', duration: 1 },
		{ note: 'G3', duration: 1 / 12, isMove: true },
		{ note: 'C4', duration: 1 / 12, isMove: true },
		{ note: 'E4', duration: 1 / 12, isMove: true },
		{ note: 'G3', duration: 1 / 12, isMove: true },
		{ note: 'C4', duration: 1 / 12, isMove: true },
		{ note: 'E4', duration: 1 / 12, isMove: true },
		{ note: 'G3', duration: 1 / 12, isMove: true },
		{ note: 'C4', duration: 1 / 12, isMove: true },
		{ note: 'E4', duration: 1 / 12, isMove: true },
		{ note: 'G3', duration: 1 / 12, isMove: true },
		{ note: 'C4', duration: 1 / 12, isMove: true },
		{ note: 'E4', duration: 1 / 12, isMove: true },

		{ note: 'A1', duration: 1 },
		{ note: 'A2', duration: 1 },
		{ note: 'A3', duration: 1 / 12, isMove: true },
		{ note: 'C4', duration: 1 / 12, isMove: true },
		{ note: 'E4', duration: 1 / 12, isMove: true },
		{ note: 'A3', duration: 1 / 12, isMove: true },
		{ note: 'C4', duration: 1 / 12, isMove: true },
		{ note: 'E4', duration: 1 / 12, isMove: true },

		{ note: 'F1', duration: 1 },
		{ note: 'F2', duration: 1 },
		{ note: 'F2', duration: 1 / 12, isMove: true },
		{ note: 'A3', duration: 1 / 12, isMove: true },
		{ note: 'D4%', duration: 1 / 12, isMove: true },
		{ note: 'F4', duration: 1 / 12, isMove: true },
		{ note: 'A3', duration: 1 / 12, isMove: true },
		{ note: 'D4', duration: 1 / 12, isMove: true },
		{ note: 'F4', duration: 1 / 12, isMove: true },
		
	//// fourth bar
	//	player.play('G1', 1/2);
	//	player.play('G2', 1/2);
	//	player.play('G3', 1/12, true);
	//	player.play('B3#', 1/12, true);
	//	player.play('F4', 1/12, true);
	//	player.play('G3', 1/12, true);
	//	player.play('C4', 1/12, true);
	//	player.play('E4', 1/12, true);
		
	//	player.play('G1', 1/2);
	//	player.play('G2', 1/2);
	//	player.play('G3', 1/12, true);
	//	player.play('C4', 1/12, true);
	//	player.play('D4#', 1/12, true);
	//	player.play('F3', 1/12, true);
	//	player.play('B3', 1/12, true);
	//	player.play('D4', 1/12, true);
		
	//// fifth bar
	//	player.play('G2', 1);
	//	player.play('C2', 1);
	//	player.play('C3', 1);
	//	player.play('E3', 2/25, true);
	//	player.play('G3', 2/25, true);
	//	player.play('C4', 2/25, true);
	//	player.play('G3', 2/25, true);
	//	player.play('C4', 2/25, true);
	//	player.play('E4', 2/25, true);
		
	//	player.play('G3', 2/25, true);
	//	player.play('C4', 2/25, true);
	//	player.play('E4', 2/25, true);
		
	//	player.play('G4', 2/25 * 1.5);
	//	player.play('G3', 2/25, true);
	//	player.play('C4', 2/25, true);
	//	player.play('E4', 2/25, true);
	//	player.play('G4', 1/25, true);
		
	//// sixth bar
	//	player.play('B1#', 1);
	//	player.play('G2', 1);
	//	player.play('B2#', 1);
	//	player.play('G4', 12/25);
	//	player.play('G3', 2/25, true);
	//	player.play('D4', 2/25, true);
	//	player.play('F4', 2/25, true);
		
	//	player.play('G3', 2/25, true);
	//	player.play('D4', 2/25, true);
	//	player.play('F4', 2/25, true);
		
	//	player.play('G3', 2/25, true);
	//	player.play('D4', 2/25, true);
	//	player.play('F4', 2/25, true);
		
	//	player.play('G4', 2/25 * 1.5);
	//	player.play('G3', 2/25, true);
	//	player.play('D4', 2/25, true);
	//	player.play('F4', 2/25, true);
	//	player.play('G4', 1/25, true);
		
	//// seventh bar
	//	player.play('C2', 1/2);
	//	player.play('C3', 1/2);
	//	player.play('G3', 1/12);
	//	player.play('G4', 1/12, true);
	//	player.play('C4', 1/12, true);
	//	player.play('E4', 1/12, true);
		
	//	player.play('G3', 1/12, true);
	//	player.play('C4', 1/12, true);
	//	player.play('E4', 1/12, true);
		
	//	player.play('F1', 1/2);
	//	player.play('F2', 1/2);
	//	player.play('A3', 1/12);
	//	player.play('A4', 1/12, true);
	//	player.play('C4', 1/12, true);
	//	player.play('F4', 1/12, true);
		
	//	player.play('A3', 1/12);
	//	player.play('A4', 1/12, true);
	//	player.play('C4', 1/12, true);
	//	player.play('F4', 1/12, true);
	];

	//player.play('C2', 1);
	//player.play('C1', 1);
	//player.play('G3', 1 / 12, true);
	//player.play('C4', 1 / 12, true);
	//player.play('E4', 1 / 12, true);
	//player.play('G3', 1 / 12, true);
	//player.play('C4', 1 / 12, true);
	//player.play('E4', 1 / 12, true);
	//player.play('G3', 1 / 12, true);
	//player.play('C4', 1 / 12, true);
	//player.play('E4', 1 / 12, true);
	//player.play('G3', 1 / 12, true);
	//player.play('C4', 1 / 12, true);
	//player.play('E4', 1 / 12, true);

	// first bar
    //player.play('C2', 1);
    //player.play('C1', 1);
    //player.play('G3', 1/12, true);
    //player.play('C4', 1/12, true);
    //player.play('E4', 1/12, true);
    //player.play('G3', 1/12, true);
    //player.play('C4', 1/12, true);
    //player.play('E4', 1/12, true);
    //player.play('G3', 1/12, true);
    //player.play('C4', 1/12, true);
    //player.play('E4', 1/12, true);
    //player.play('G3', 1/12, true);
    //player.play('C4', 1/12, true);
    //player.play('E4', 1/12, true);

    //// second bar
    //player.play('B1', 1);
    //player.play('B2', 1);
    //player.play('G3', 1/12, true);
    //player.play('C4', 1/12, true);
    //player.play('E4', 1/12, true);
    //player.play('G3', 1/12, true);
    //player.play('C4', 1/12, true);
    //player.play('E4', 1/12, true);
    //player.play('G3', 1/12, true);
    //player.play('C4', 1/12, true);
    //player.play('E4', 1/12, true);
    //player.play('G3', 1/12, true);
    //player.play('C4', 1/12, true);
    //player.play('E4', 1/12, true);

	//// third bar
    //player.play('A1', 1/2);
    //player.play('A2', 1/2);
    //player.play('A3', 1/12, true);
    //player.play('C4', 1/12, true);
    //player.play('E4', 1/12, true);
    //player.play('A3', 1/12, true);
    //player.play('C4', 1/12, true);
    //player.play('E4', 1/12, true);

    //player.play('F1', 1/2);
    //player.play('F2', 1/2);
    //player.play('A3', 1/12, true);
    //player.play('D4%', 1/12, true);
    //player.play('F4', 1/12, true);
    //player.play('A3', 1/12, true);
    //player.play('D4', 1/12, true);
    //player.play('F4', 1/12, true);

    //// fourth bar
    //player.play('G1', 1/2);
    //player.play('G2', 1/2);
    //player.play('G3', 1/12, true);
    //player.play('B3#', 1/12, true);
    //player.play('F4', 1/12, true);
    //player.play('G3', 1/12, true);
    //player.play('C4', 1/12, true);
    //player.play('E4', 1/12, true);

    //player.play('G1', 1/2);
    //player.play('G2', 1/2);
    //player.play('G3', 1/12, true);
    //player.play('C4', 1/12, true);
    //player.play('D4#', 1/12, true);
    //player.play('F3', 1/12, true);
    //player.play('B3', 1/12, true);
    //player.play('D4', 1/12, true);

    //// fifth bar
    //player.play('G2', 1);
    //player.play('C2', 1);
    //player.play('C3', 1);
    //player.play('E3', 2/25, true);
    //player.play('G3', 2/25, true);
    //player.play('C4', 2/25, true);
    //player.play('G3', 2/25, true);
    //player.play('C4', 2/25, true);
    //player.play('E4', 2/25, true);

    //player.play('G3', 2/25, true);
    //player.play('C4', 2/25, true);
    //player.play('E4', 2/25, true);

    //player.play('G4', 2/25 * 1.5);
    //player.play('G3', 2/25, true);
    //player.play('C4', 2/25, true);
    //player.play('E4', 2/25, true);
    //player.play('G4', 1/25, true);

    //// sixth bar
    //player.play('B1#', 1);
    //player.play('G2', 1);
    //player.play('B2#', 1);
    //player.play('G4', 12/25);
    //player.play('G3', 2/25, true);
    //player.play('D4', 2/25, true);
    //player.play('F4', 2/25, true);

    //player.play('G3', 2/25, true);
    //player.play('D4', 2/25, true);
    //player.play('F4', 2/25, true);

    //player.play('G3', 2/25, true);
    //player.play('D4', 2/25, true);
    //player.play('F4', 2/25, true);

    //player.play('G4', 2/25 * 1.5);
    //player.play('G3', 2/25, true);
    //player.play('D4', 2/25, true);
    //player.play('F4', 2/25, true);
    //player.play('G4', 1/25, true);

    //// seventh bar
    //player.play('C2', 1/2);
    //player.play('C3', 1/2);
    //player.play('G3', 1/12);
    //player.play('G4', 1/12, true);
    //player.play('C4', 1/12, true);
    //player.play('E4', 1/12, true);

    //player.play('G3', 1/12, true);
    //player.play('C4', 1/12, true);
    //player.play('E4', 1/12, true);

    //player.play('F1', 1/2);
    //player.play('F2', 1/2);
    //player.play('A3', 1/12);
    //player.play('A4', 1/12, true);
    //player.play('C4', 1/12, true);
    //player.play('F4', 1/12, true);

    //player.play('A3', 1/12);
    //player.play('A4', 1/12, true);
    //player.play('C4', 1/12, true);
    //player.play('F4', 1/12, true);

}

var keyboardTest = {
	shift: {
		49: 'C3#',
		50: 'D3#',
		51: 'F3#',
		52: 'G3#',
		53: 'A4#',
		54: 'C4#',
		55: 'D4#',
		56: 'F4#',
		57: 'G4#',
		48: 'A5#',
	},

	general: {

		49: 'C1#',
		50: 'D1#',
		51: 'F1#',
		52: 'G1#',
		53: 'A2#',
		54: 'C2#',
		55: 'D2#',
		56: 'F2#',
		57: 'G2#',
		48: 'A2#',

		90: 'C1',
		88: 'D1',
		67: 'E1',
		86: 'F1',
		66: 'G1',
		78: 'A2',
		77: 'B2',
		188: 'C2',
		190: 'D2',
		191: 'E2',

		65: 'F2',
		83: 'G2',
		68: 'A3',
		70: 'B3',
		71: 'C3',
		72: 'D3',
		74: 'E3',
		75: 'F3',
		76: 'G3',

		81: 'A4',
		87: 'B4',
		69: 'C4',
		82: 'D4',
		84: 'E4',
		89: 'F4',
		85: 'G4',
		73: 'A5',
		79: 'B5',
		80: 'C5',
	}
};


var keyboard = {
	81: 'A2',
	87: 'B2',
	69: 'C2',
	82: 'D2',
	84: 'E2',
	89: 'F2',
	85: 'G2',

	65: 'A3',
	49: 'A3#',
	83: 'B3',
	50: 'B3#',
	68: 'C3',
	51: 'C3#',
	70: 'D3',
	52: 'D3#',
	71: 'E3',
	53: 'E3#',
	72: 'F3',
	54: 'F3#',
	74: 'G3',
	55: 'G3#',

	90: 'A4',
	88: 'B4',
	67: 'C4',
	86: 'D4',
	66: 'E4',
	78: 'F4',
	77: 'G4',

};

function buildKeyboard() {
	visualKeyboard = document.getElementById('keyboard');
	//selectSound = document.getElementById('sound');

	var iKeys = 0;
	var iWhite = 0;

	var notes = {
		'C1': 1,
		'C1#': 1,
		'D1': 1,
		'D1#': 1,
		'E1': 1,
		'F1': 1,
		'F1#': 1,
		'G1': 1,
		'G1#': 1,

		'A2': 1,
		'A2#': 1,
		'B2': 1,
		'C2': 1,
		'C2#': 1,
		'D2': 1,
		'D2#': 1,
		'E2': 1,
		'F2': 1,
		'F2#': 1,
		'G2': 1,
		'G2#': 1,

		'A3': 1,
		'A3#': 1,
		'B3': 1,
		'C3': 1,
		'C3#': 1,
		'D3': 1,
		'D3#': 1,
		'E3': 1,
		'F3': 1,
		'F3#': 1,
		'G3': 1,
		'G3#': 1,

		'A4': 1,
		'A4#': 1,
		'B4': 1,
		'C4': 1,
		'C4#': 1,
		'D4': 1,
		'D4#': 1,
		'E4': 1,
		'F4': 1,
		'F4#': 1,
		'G4': 1,
		'G4#': 1,

		'A5': 1,
		'A5#': 1,
		'B5': 1,
		'C5': 1,
	};

	var __octave = 3;
	var evtListener = ['mousedown', 'mouseup'];

	var currentOcatve = 2;

	for (var n in notes) {

		var thisKey = document.createElement('div');
		console.log(n.length);
		if (n.length <= 2) {
			thisKey.className = 'white key';
			thisKey.style.width = '40px';
			thisKey.style.height = '200px';
			thisKey.style.left = 40 * iWhite + 'px';
			iWhite++;
		} else {
			console.log('black KEY = ' + n);
			thisKey.className = 'black key';
			thisKey.style.width = '30px';
			thisKey.style.height = '120px';
			thisKey.style.left = (40 * (iWhite - 1)) + 25 + 'px';
		}
		var label = document.createElement('div');
		label.className = 'label';
		label.innerHTML = '<b>' + '' + '</b>' + '<br /><br />' + n +
			'<span name="OCTAVE_LABEL" value="' + n + '"></span>';
		thisKey.appendChild(label);
		thisKey.setAttribute('ID', 'KEY_' + n + ',' + 1);
		thisKey.addEventListener(evtListener[0], (function (_temp) { return function () { console.log(_temp); player.play(_temp, 0, true); } })(n));
		visualKeyboard[n] = thisKey;
		visualKeyboard.appendChild(thisKey);
	}

	//for (var i = -1; i <= 1; i++) {
	//	for (var n in notes) {
	//		if (n[2] != 'b') {
	//			var thisKey = document.createElement('div');
	//			if (n.length > 1) {
	//				thisKey.className = 'black key';
	//				thisKey.style.width = '30px';
	//				thisKey.style.height = '120px';
	//				thisKey.style.left = (40 * (iWhite - 1)) + 25 + 'px';
	//			} else {
	//				thisKey.className = 'white key';
	//				thisKey.style.width = '40px';
	//				thisKey.style.height = '200px';
	//				thisKey.style.left = 40 * iWhite + 'px';
	//				iWhite++;
	//			}
	//			//String.fromCharCode(reverseLookupText[n + ',' + i])
	//			var label = document.createElement('div');
	//			label.className = 'label';
	//			label.innerHTML = '<b>' + '' + '</b>' + '<br /><br />' + n.substr(0, 1) +
	//				'<span name="OCTAVE_LABEL" value="' + i + '">' + (__octave + parseInt(i)) + '</span>' + (n.substr(1, 1) ? n.substr(1, 1) : '');
	//			thisKey.appendChild(label);
	//			thisKey.setAttribute('ID', 'KEY_' + n + ',' + i);
	//			//reverseLookup
	//			thisKey.addEventListener(evtListener[0], (function (_temp) { return function () { console.log(_temp); player.play(_temp + '3', 0, true); } })(n));
	//			visualKeyboard[n + ',' + i] = thisKey;
	//			visualKeyboard.appendChild(thisKey);
	//			iKeys++;
	//		}
	//	}
	//}

	visualKeyboard.style.width = iWhite * 40 + 'px';

	//window.addEventListener(evtListener[1], function () { n = keysPressed.length; while (n--) { fnRemoveKeyBinding({ keyCode: keysPressed[n] }); } });

}

window.addEventListener('keydown', function (e) {
	var evtobj = window.event ? event : e;
	var keyboradLayout = evtobj.shiftKey ? keyboardTest.shift : keyboardTest.general;
	console.log(evtobj);
	player.play(keyboradLayout[e.keyCode], 0, true);
});


</script>

<style>

	b {
		font-weight: bold;
	}

	.key {
		position: absolute;
		font-family: Helvetica;
		font-weight: 100;
		font-size: 12px;
		border: 1px solid rgba(32,32,32,0.2);
		border-radius: 0px 0px 5px 5px;
		cursor: pointer;
		box-shadow: 0px 5px 1px rgba(32,32,32,0.2);
		-webkit-transition: margin 0.05s ease, background-color 0.05s ease, box-shadow 0.05s ease;
	}

		.key:hover {
			background-color: rgb(255,192,32);
		}

		.key .label {
			position: absolute;
			bottom: 5px;
			text-align: center;
			left: 0px;
			right: 0px;
		}

	.black.key {
		background-color: rgb(32,32,32);
		color: #ffffff;
		z-index: 1;
		text-shadow: 0px -1px 1px rgba(255,255,255,0.5);
	}

	.white.key {
		background-color: #ffffff;
		color: rgb(32,32,32);
		z-index: 0;
		text-shadow: 0px 1px 1px rgba(32,32,32,0.5);
	}

	.title {
		text-shadow: 0px 1px 1px rgba(32,32,32,0.2);
		font-size: 40px;
		font-weight: bold;
		font-family: Helvetica;
		padding: 10px;
		text-align: center;
	}

	.sub {
		color: rgb(96,96,96);
		font-size: 30px;
		padding: 10px;
		font-weight: 100;
		margin: 10px 0px;
		text-shadow: 0px 1px 1px rgba(32,32,32,0.2);
		text-align: center;
	}

		.sub a, .sub a:link, .sub a:visited, .sub a:active {
			font-weight: bold;
			color: rgb(128,160,255);
			text-decoration: none;
		}

			.sub a:hover {
				color: rgb(160,192,255);
			}

	.source a {
		color: rgb(255,96,96);
	}

		.source a:link, .source a:visited, .source a:active {
			color: rgb(255,96,96);
		}

		.source a:hover {
			color: rgb(255,128,128);
		}

	.small {
		font-size: 20px;
	}

	.keyboard-options {
		margin: 30px auto;
		width: auto;
		text-align: center;
		font-size: 12px;
		font-weight: 200;
		padding: 10px;
	}

	.keyboard-holder {
		margin: 30px auto;
		height: 200px;
		position: relative;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
	}

	.code {
		border: 1px solid rgba(32,32,32,0.2);
		color: rgb(32,32,32);
		font-family: Courier New, Courier, monospace;
		font-size: 12px;
		white-space: pre;
		padding: 10px;
		margin: 10px;
	}
</style>