<div class="pusher">
	<div class="ui fluid container">
		<div class="ui two column grid">
			<div class="side menu" id="sideMenu">
				<div align="center" class="profile">
					<br>
					<a href=""><img src="content/img/piano-min.png" alt="Marry Doe" class="ui circular image" width="150px"></a>
					<div class="ui white header">{{globals.currentUser.source.LastName}} {{globals.currentUser.source.FirstName[0]}}. {{globals.currentUser.source.MiddleName[0]}} </div>
					<div class="ui divider"></div>
				</div>
				<div class="ui fluid vertical menu">
					<a href="#/main" class="item"><i class="dashboard icon"></i> <span>Главная</span></a>
					<a href="#/test" class="item"><i class="book icon"></i> <span>Тесты</span></a>
					<a href="#/piano" class="item"><i class="table icon"></i> <span>Пианино</span></a>
					<a href="#/student" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="student icon"></i> <span>Студенты</span></a>
					<a href="#/constructor" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="dashboard icon"></i> <span>Конструктор заданий</span></a>
					<a href="#/user" ng-if="globals.currentUser.source.RoleName == 'Администратор'" class="item"><i class="dashboard icon"></i> <span>Пользователи</span></a>
					<!--<a href="chart.html" class="item"><i class="bar chart icon"></i> <span>Chart</span></a>
					<a href="card.html" class="item"><i class="block layout icon"></i> <span>Card</span></a>
					<a href="progress.html" class="item"><i class="tasks icon"></i> <span>Progress Bar</span></a>
					<a href="index.html" class="item"><i class="sign in icon"></i> <span>Login</span></a>
					<a href="dashboard.html" class="item"><i class="file icon"></i> <span>Sample</span></a>
					<a href="dashboard.html" class="item"><i class="file icon"></i> <span>Sample</span></a>-->
				</div>
			</div>
			<div class="sixteen wide column" id="content">
				<h2><i class="book icon"></i> Пианино</h2>
				<div class="ui divider"></div>

				<div class="ui form">
					<div class="ui form">
						<div class="field">
							<label>Октавы</label>
							<div class="ui dropdown selection multiple" tabindex="0">
								<select multiple="" ng-model="vm.octaves">
									<option value="">Выбор октав</option>
									<option value="2">2 октава</option>
									<option value="3">3 октава</option>
									<option value="4">4 октава</option>
								</select>
								<i class="dropdown icon"></i><div class="default text">Выбор октав</div>
								<div class="menu transition hidden" tabindex="-1">
									<div class="item" data-value="2">2 октава</div>
									<div class="item" data-value="3">3 октава</div>
									<div class="item" data-value="4">4 октава</div>
								</div>
							</div>
						</div>
					</div>
					<div class="ui segment" style="min-height: 8rem;">

						<div>
							<a class="ui green ribbon label" ng-click="vm.setTaskState(1)">Начальный вид пианино</a>

							<div class="ui right aligned grid">
								<div class="row">
									<div class="eleven wide column"></div>
									<div class="five wide column">
										<button class="ui button green"
												ng-click="vm.playPiano(vm.notes)"
												ng-disabled="vm.notes.length === 0">
											<i class="play icon"></i>
											Проиграть
										</button>
										<button class="ui button"
												ng-disabled="vm.isRecording == true"
												ng-click="vm.setRecording(true)"
												ng-class="vm.isRecording == true ? 'red' : ''">
											<i class="record icon"></i>
											Запись
										</button>
										<button class="ui button"
												ng-disabled="vm.isRecording == false"
												ng-click="vm.setRecording(false)">
											<i class="stop icon"></i>
											Остановить
										</button>
									</div>
								</div>
							</div>
						</div>


						<h5 class="ui horizontal header divider">
							<i class="bar table icon"></i>
							Виртуальная клавиатура
						</h5>

						<div class="ui right aligned grid">
							<div class="row">
								<div class="eleven wide column"></div>
								<div class="five wide column">
									<input class="ui toggle checkbox" type="checkbox" ng-model="vm.pianoSettings.isShowHints">
									<label>Показать обозначения</label>
								</div>
							</div>
						</div>
						<piano octaves="vm.octaves" 
							   keyboardid="0"
							   isshowhint="vm.pianoSettings.isShowHints" />
						<!--<div class="ui right aligned grid">
							<div class="row">
								<div class="fourteen wide column"></div>
								<div class="two wide column">
									<button class="ui button"
											ng-repeat="answer in vm.currentTest.Questions[vm.currentQuestion].Answers"
											ng-click="vm.setChoiceForQuestion(vm.currentTest.Questions[vm.currentQuestion], answer)"
											ng-if="vm.taskState == 2"
											ng-disabled="vm.isRecording == true || vm.currentTask.localUserNotes.length === 0">
										<i class="send icon"></i>
										Отправить
									</button>
								</div>
							</div>
						</div>-->
					</div>
				</div>

					<div class="ui divider"></div>
					<div align="center">
						Для игры на пианино можно использовать клавиши [A-z], также цифры [1-9]
					</div>
				</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="content/js/main.js"></script>