<div class="pusher">
	<div class="ui fluid container">
		<div class="ui two column grid">
			<div class="side menu" id="sideMenu">
				<div align="center" class="profile">
					<br>
					<a href=""><img src="content/img/piano-min.png" alt="Marry Doe" class="ui circular image" width="150px"></a>
					<div class="ui white header">{{globals.currentUser.source.LastName}} {{globals.currentUser.source.FirstName[0]}}. {{globals.currentUser.source.MiddleName[0]}}</div>
					<div class="ui divider"></div>
				</div>
				<div class="ui fluid vertical menu">
					<a href="#/main" class="item"><i class="dashboard icon"></i> <span>Главная</span></a>
					<a href="#/profile" class="item"><i class="user icon"></i> <span>Профиль</span></a>
					<a href="#/bankTest" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="student icon"></i> <span>Банк вопросов</span></a>
					<a href="#/test" class="item"><i class="book icon"></i> <span>Тесты</span></a>
					<a href="#/task" class="item"><i class="book icon"></i> <span>Задания</span></a>
					<a href="#/piano" class="item"><i class="table icon"></i> <span>Пианино</span></a>
                    <a href="#/student" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="student icon"></i> <span>Ученики</span></a>
					<a href="#/constructor" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="dashboard icon"></i> <span>Конструктор заданий</span></a>
					<a href="#/user" ng-if="globals.currentUser.source.RoleName == 'Администратор'" class="item"><i class="dashboard icon"></i> <span>Пользователи</span></a>
					<!--<a href="chart.html" class="item"><i class="bar chart icon"></i> <span>Chart</span></a>
					<a href="card.html" class="item"><i class="block layout icon"></i> <span>Card</span></a>
					<a href="progress.html" class="item"><i class="tasks icon"></i> <span>Progress Bar</span></a>
					<a href="index.html" class="item"><i class="sign in icon"></i> <span>Login</span></a>
					<a href="dashboard.html" class="item"><i class="file icon"></i> <span>Sample</span></a>
					<a href="dashboard.html" class="item"><i class="file icon"></i> <span>Sample</span></a>-->
				</div>
			</div>
			<div class="sixteen wide column" id="content">
				<h2><i class="book icon"></i> Редактирование профиля  {{ vm.currentUser.Login }}</h2>
				<div class="ui divider"></div>

				<form class="ui form" name="userForm">
					<div ng-init="vm.userForm = userForm"></div>
                    <!--<div class="field" ng-if="vm.roles.length >= 1 && vm.currentUser !== null">
                        <label>Роль</label>
						<div ng-show="userForm.$submitted || userForm.uRole.$touched">
							<div ng-show="userForm.uRole.$error.required">Необходимо выбрать роль.</div>
						</div>
                        <dropdown open="false"
                                  ng-model="vm.currentUser.Name"
                                  title="Выберете роль"
								  name="uRole"
								  required="">
                            <dropdown-group value="c.Name" title="c.Name" ng-repeat="c in vm.roles">{{c.Name}}</dropdown-group>
                        </dropdown>
                    </div>-->

					<div class="field" ng-if="vm.roles.length >= 1 && vm.currentUser !== null">
						<label>Роль</label>
						<input type="text"
							   name="Teacher_Name"
							   ng-model="vm.currentUser.Name"
							   disabled=""> 
					</div>

                    <div class="field" ng-if="vm.groups.length >= 1 && vm.currentUser !== null">
                        <label>Группа</label>
						<input type="text"
							   name="Group_Name"
							   ng-model="vm.currentUser.Group_Name"
							   disabled="">
                    </div>

                    <div class="field" ng-if="vm.teachers.length >= 1 && vm.currentUser !== null">
                        <label>Преподаватель</label>
						<input type="text"
							   name="Teacher_Login"
							   ng-model="vm.currentUser.Teacher_Login"
							   disabled="">
                    </div>

					<div class="field">
						<label>Фамилия</label>
						<input type="text" 
							   name="first-name" 
							   placeholder="Введите фамилию" 
							   ng-model="vm.currentUser.LastName">
					</div>
					<div class="field">
						<label>Имя</label>
						<input type="text"
							   name="first-name"
							   placeholder="Введите имя"
							   ng-model="vm.currentUser.FirstName">
					</div>
					<div class="field">
						<label>Отчество</label>
						<input type="text"
							   name="first-name"
							   placeholder="Введите отчество"
							   ng-model="vm.currentUser.MiddleName">
					</div>
					<div class="field">
						<label>Логин</label>
						<div ng-show="userForm.$submitted || userForm.login.$touched">
							<div ng-show="userForm.login.$error.required">Необходимо ввести логин.</div>
						</div>
						<input type="text"
							   name="login"
							   placeholder="Введите логин"
							   ng-model="vm.currentUser.Login"
							   ng-readonly="vm.id != 'new'"
							   required="">
					</div>
					<div class="field">
						<label>Пароль</label>
						<input type="text"
							   name="first-name"
							   placeholder="Введите пароль"
							   ng-model="vm.currentUser.Password">
					</div>
					<div class="field">
						<label>Почта</label>
						<input type="text"
							   name="email"
							   placeholder="Введите адрес почты"
							   ng-model="vm.currentUser.Email">
					</div>
					<div class="field">
						<label>Телефон</label>
						<input type="text"
							   name="phone"
							   placeholder="Введите номер телефона"
							   ng-model="vm.currentUser.Phone">
					</div>
					<div class="field">
						<label>Фотография</label>
						<div class="ui action input">
							<input type="file" 
								   id="file" 
								   name="file" 
								   fileread="vm.currentUser.Photo" />
						</div>
					</div> 
				</form>

                <div class="ui right aligned grid">
                    <div class="row"></div>
                    <div class="row">
                        <div class="twelve wide column"></div>
                        <div class="two wide column">
                        </div>
                        <div class="two wide column">
                            <button class="ui button blue"
                                    ng-click="vm.updateUser()"
									type="submit"
									ng-disabled="userForm.$invalid">
                                <i class="plus icon"></i>
                                 {{ (vm.id == 'new' ? 'Создать' : 'Обновить')  }}
                            </button>
                        </div>
                    </div>
                </div>

				<div class="ui divider"></div>
				<div align="center">
					---
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="content/js/main.js"></script>