<div class="pusher">
    <div class="ui fluid container">
        <div class="ui two column grid">
            <div class="side menu" id="sideMenu">
                <div align="center" class="profile">
                    <br>
                    <a href=""><img src="content/img/piano-min.png" alt="Marry Doe" class="ui circular image" width="150px"></a>
                    <div class="ui white header">{{globals.currentUser.source.LastName}} {{globals.currentUser.source.FirstName[0]}}. {{globals.currentUser.source.MiddleName[0]}}</div>
                    <div class="ui divider"></div>
                </div>
                <div class="ui fluid vertical menu">
                    <a href="#/main" class="item"><i class="dashboard icon"></i> <span>Главная</span></a>
                    <a href="#/test" class="item"><i class="book icon"></i> <span>Тесты</span></a>
                    <a href="#/piano" class="item"><i class="table icon"></i> <span>Пианино</span></a>
					<a href="#/student" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="student icon"></i> <span>Ученики</span></a>
					<a href="#/constructor" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="dashboard icon"></i> <span>Конструктор заданий</span></a>
					<a href="#/user" ng-if="globals.currentUser.source.RoleName == 'Администратор'" class="item"><i class="dashboard icon"></i> <span>Пользователи</span></a>
                    <!--<a href="chart.html" class="item"><i class="bar chart icon"></i> <span>Chart</span></a>
                    <a href="card.html" class="item"><i class="block layout icon"></i> <span>Card</span></a>
                    <a href="progress.html" class="item"><i class="tasks icon"></i> <span>Progress Bar</span></a>
                    <a href="index.html" class="item"><i class="sign in icon"></i> <span>Login</span></a>
                    <a href="dashboard.html" class="item"><i class="file icon"></i> <span>Sample</span></a>
                    <a href="dashboard.html" class="item"><i class="file icon"></i> <span>Sample</span></a>-->
                </div>
            </div>


            <div class="sixteen wide column" id="content" ng-if="vm.id == ''">
                <h2><i class="book icon"></i> Ученики</h2>
                <div class="ui divider"></div>

                <div class="ui cards">
                    <div class="card" ng-repeat="student in vm.studentList">
                        <div class="content">
                            <img class="right floated mini ui image" src="/content/img/piano-min.png">
                            <div class="header">
                                {{ student.LastName }} {{ student.FirstName }}
                            </div>
                            <div class="meta">
                                {{ student.Login }}
                            </div>
                            <div class="description">
                                10 лет, нет опыта
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui one buttons">
                                <div class="ui blue button" ng-click="vm.goToStudent(student.Id)">Профиль</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<table class="ui selectable celled table">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Сложность</th>
                            <th>Создатель</th>
                            <th>Процент правильных ответов</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="test in vm.testList">
                            <td>{{test.Name}}</td>
                            <td>{{test.Complexity}}</td>
                            <td>{{test.LastName}} {{test.FirstName[0]}}. {{test.MiddleName[0]}}.</td>
                            <td>{{test.UserAnswerValidPercent}}</td>
                        </tr>
                    </tbody>
                </table>-->

                <div class="ui divider"></div>
                <div align="center">
                    sss
                </div>
            </div>

            <div class="sixteen wide column" id="content" ng-if="vm.id != ''">
                <h2><i class="book icon"></i> Студент {{ vm.student.Login }}</h2>
                <div class="ui divider"></div>

				<div class="ui relaxed grid">
					<div class="ui center aligned three column row">
						<div class="ui column">
							<div class="ui statistic">
								<div class="value">
									<i class="ticket icon"></i> {{ vm.student.AllCount }}
								</div>
								<div class="label">
									Пройденные тестов
								</div>
							</div>
						</div>
						<div class="ui column">
							<div class="ui statistic">
								<div class="value">
									<i class="trophy icon"></i> 0
								</div>
								<div class="label">
									Достижения
								</div>
							</div>
						</div>
						<div class="ui column">
							<div class="ui statistic">
								<div class="value">
									{{ vm.student.AvgValidPercent }}
								</div>
								<div class="label">
									Процент прохождения
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ui divider"></div>

				<h3 class="ui header">Информация</h3>
                <div class="ui two column stackable grid">
                    <div class="column">
                        <div class="ui divided very relaxed list">
                            <div class="item">
                                <i class="star icon"></i>
                                <div class="content">
                                    <div class="header">ФИО</div>
                                    {{vm.student.LastName}} {{vm.student.FirstName}} {{vm.student.MiddleName}}
                                </div>
                            </div>
                            <div class="item">
                                <i class="star icon"></i>
                                <div class="content">
                                    <div class="header">Возраст</div>
                                    10 лет
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

				<div class="ui two column stackable grid">
					<div class="column">
						<h3 class="ui header">Тесты</h3>
						<!--<div class="ui right floated small green labeled icon button">
							<i class="add icon"></i> Добавить
						</div>-->
						<div class="ui relaxed divided items">
							<div class="item" ng-repeat="test in vm.student.testList | filter:{TestType_Id: '1'}">
								<div class="ui tiny image">
									<img src="/content/img/piano-min.png">
								</div>
								<div class="content">
									<a class="header">{{test.Name}}</a>
									<div class="description">
										A description which may flow for several lines and give context to the content.
									</div>
									<div class="extra">
										<div class="ui right floated primary button"
											 ng-if="globals.currentUser.source.RoleName != 'Ученик'"
											 ng-class="test.UserAnswerValidPercent != 0 || test.Id_User_Test != null ? 'disabled' : ''"
											 ng-click="vm.appnedTestToUser(test)">
											Назначить
											<i class="right chevron icon"></i>
										</div>
										<div style="margin-top:5px" class="ui label green">
											<span ng-if="test.allCount !== null">Пройден на {{test.UserAnswerValidPercent}}%</span>
											<span ng-if="test.allCount === null">Не пройден </span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="column">
						<h3 class="ui header">Задания</h3>
						<!--<div class="ui right floated small green labeled icon button" ng-click="vm.showModalPiano()">
							<i class="add icon"></i> Добавить
						</div>-->
						<div class="ui relaxed divided items">
							<div class="item" ng-repeat="test in vm.student.testList | filter:{TestType_Id: '2'}">
								<div class="content">
									<div class="ui large star rating" data-rating="2" data-max-rating="4"></div>
									<div class="header">
										<img src="/content/img/piano-min.png" class="ui avatar image">
										<a ng-click="vm.showModalPiano(test.Id)">{{ test.Name }}</a>
									</div>
									<div class="extra">
										<div class="ui right floated primary button"
											 ng-if="globals.currentUser.source.RoleName != 'Ученик'"
											 ng-class="test.UserAnswerValidPercent != 0 || test.Id_User_Test != null ? 'disabled' : ''"
											 ng-click="vm.showModalPiano(test.Id)">
											Назначить
											<i class="right chevron icon"></i>
										</div>
										<div style="margin-top:5px" class="ui label green">
											<span ng-if="test.allCount !== null || test.UserAnswerValidPercent == 100">Пройден на {{test.UserAnswerValidPercent}}%</span>
											<span ng-if="test.allCount === null && test.UserAnswerValidPercent == 0">Не пройден </span>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
            </div>

            <!--<div class="sixteen wide column" id="content">
                <h2><i class="book icon"></i> Ученики</h2>
                <div class="ui divider"></div>

                <!--<h3>Пока тут нечего нету =( можно посмотреть другие вкладки</h3>-->
                <!--<h4>Тут будет какая-то личная статистика, полученные достижения и тд</h4>-->

                <!--<div class="ui divided very relaxed list">
                    <div class="item">
                        <i class="star icon"></i>
                        <div class="content">
                            <div class="header">Header</div>
                            Description
                        </div>
                    </div>
                    <div class="item">
                        <i class="star icon"></i>
                        <div class="content">
                            <div class="header">Header</div>
                            Description
                        </div>
                    </div>
                    <div class="item">
                        <i class="star icon"></i>
                        <div class="content">
                            <div class="header">Header</div>
                            Description
                        </div>
                    </div>
                </div>-->

                <div class="ui divider"></div>
                <div align="center">
                    Тестовая версия
                </div>
            </div>
        </div>
    </div>
</div>

<modal class="fullscreen" ng-model="vm.isShowModalPiano">
	<i class="close icon" ng-click="vm.hideModalPiano()"></i>
	<div class="header">
		Наберите ноты
	</div>
	<div class="content" ng-if="vm.taskId === undefined || vm.taskId === null">
		<div class="description">
			<div class="ui form">
				<div class="field">
					<label>Октавы</label>
					<div class="ui dropdown selection multiple" tabindex="0">
						<select multiple="" ng-model="vm.newTask.question_octaves">
							<option value="">Выбор октав</option>
							<option value="2">2 октава</option>
							<option value="3">3 октава</option>
							<option value="4">4 октава</option>
						</select>
						<i class="dropdown icon"></i><div class="default text">Выбор октав</div>
						<div class="menu transition hidden" tabindex="-1">
							<div class="item" data-value="2">2 октава</div>
							<div class="item" data-value="3">3 октава</div>
							<div class="item" data-value="4">4 октава</div>
						</div>
					</div>
				</div>
				<div class="field">
					<label>Название</label>
					<input type="text" name="name" placeholder="Введите название теста" ng-model="vm.newTask.test_name">
				</div>
			</div>
			<div class="ui segment" style="min-height: 8rem;">
					<a class="ui green ribbon label">Конструктор задания</a>
					<div class="ui right aligned grid">
						<div class="row">
							<div class="eleven wide column"></div>
							<div class="five wide column">
								<button class="ui button green"
										ng-click="vm.playPiano(vm.newTask.question_content)"
										ng-disabled="vm.newTask.question_content.length === 0">
									<i class="play icon"></i>
									Проиграть
								</button>
								<button class="ui button"
										ng-disabled="vm.isRecording == true"
										ng-click="vm.setRecording(true)"
										ng-class="vm.isRecording == true ? 'red' : ''">
									<i class="record icon"></i>
									Запись
								</button>
								<button class="ui button"
										ng-disabled="vm.isRecording == false"
										ng-click="vm.setRecording(false)">
									<i class="stop icon"></i>
									Остановить
								</button>
							</div>
						</div>
					</div>
				<h5 class="ui horizontal header divider">
					<i class="bar table icon"></i>
					Виртуальная клавиатура
				</h5>
				<piano octaves="vm.newTask.octaves" keyboardid="0"></piano>
				<!--<div class="ui right aligned grid">
					<div class="row">
						<div class="fourteen wide column"></div>
						<div class="two wide column">
							<button class="ui button"
									ng-repeat="answer in vm.currentTest.Questions[vm.currentQuestion].Answers"
									ng-click="vm.setChoiceForQuestion(vm.currentTest.Questions[vm.currentQuestion], answer)"
									ng-if="vm.taskState == 2"
									ng-disabled="vm.isRecording == true || vm.currentTask.localUserNotes.length === 0">
								<i class="send icon"></i>
								Отправить
							</button>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>

	<div class="content" ng-if="vm.taskId !== undefined && vm.taskId !== null">
		<div class="description">
			<div class="ui form">
				<div class="field">
					<label>Тип задания</label>
					<dropdown name="idUser_TestType" open="false"
							  ng-model="vm.currentTest.idUser_TestType"
							  title="Выберете тип задания" >
						<dropdown-group value="model.Id" title="model.Name" ng-repeat="model in vm.testTypeDictionary track by model.Id">{{model.Name}}</dropdown-group>
					</dropdown>
				</div>
				<div class="field">
					<label>Подсказки</label>
					<dropdown title="Наличие подсказок" 
							  name="isShowHints"
							  ng-model="vm.currentTest.isShowHints" 
							  open="false">
						<dropdown-group value="model.Id" title="model.Name" ng-repeat="model in vm.isShowHintsDictionary track by model.Id">{{model.Name}}</dropdown-group>
					</dropdown>
				</div>
				<div class="field">
					<label>Колличество попыток</label>
					<input type="text" name="name" placeholder="Введите колличество попыток" ng-model="vm.currentTest.countAttempts">
				</div>
				<div class="field">
					<label>Октавы</label>
					<div class="ui dropdown selection multiple disabled" tabindex="0">
						<select multiple="" ng-model="vm.currentTest.Questions[0].Content.octaves" disabled>
							<option value="">Выбор октав</option>
							<option value="1">1 октава</option>
							<option value="2">2 октава</option>
							<option value="3">3 октава</option>
							<option value="4">4 октава</option>
						</select>
						<i class="dropdown icon"></i><div class="default text">Выбор октав</div>
						<div class="menu transition hidden" tabindex="-1">
							<div class="item" data-value="2">2 октава</div>
							<div class="item" data-value="3">3 октава</div>
							<div class="item" data-value="4">4 октава</div>
						</div>
					</div>
				</div>
				<div class="field">
					<label>Название</label>
					<input type="text" name="name" placeholder="Введите название теста" ng-model="vm.currentTest.Name" disabled>
				</div>
			</div>
			<div class="ui segment" style="min-height: 8rem;">
				<a class="ui green ribbon label">Конструктор задания</a>
				<div class="ui right aligned grid">
					<div class="row">
						<div class="eleven wide column"></div>
						<div class="five wide column">
							<button class="ui button green"
									ng-click="vm.playPiano(vm.currentTest.Questions[0].Content.content)"
									ng-disabled="vm.currentTest.Questions[0].Content.content.length === 0">
								<i class="play icon"></i>
								Проиграть
							</button>
							<button class="ui button"
									ng-disabled="vm.isRecording == true || (vm.taskId !== undefined && vm.taskId !== null)"
									ng-click="vm.setRecording(true)"
									ng-class="vm.isRecording == true ? 'red' : ''">
								<i class="record icon"></i>
								Запись
							</button>
							<button class="ui button"
									ng-disabled="vm.isRecording == false"
									ng-click="vm.setRecording(false)">
								<i class="stop icon"></i>
								Остановить
							</button>
						</div>
					</div>
				</div>
				<h5 class="ui horizontal header divider">
					<i class="bar table icon"></i>
					Виртуальная клавиатура
				</h5>
				<piano octaves="vm.currentTest.Questions[0].Content.octaves" keyboardid="0"></piano>
				<!--<div class="ui right aligned grid">
					<div class="row">
						<div class="fourteen wide column"></div>
						<div class="two wide column">
							<button class="ui button"
									ng-repeat="answer in vm.currentTest.Questions[vm.currentQuestion].Answers"
									ng-click="vm.setChoiceForQuestion(vm.currentTest.Questions[vm.currentQuestion], answer)"
									ng-if="vm.taskState == 2"
									ng-disabled="vm.isRecording == true || vm.currentTask.localUserNotes.length === 0">
								<i class="send icon"></i>
								Отправить
							</button>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>

	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<button class="ui ok green inverted button" ng-click="vm.appnedTestToUserWithContent(vm.currentTest)">
				<i class="checkmark icon"></i>
				Отправить
			</button>
		</div>
	</div>
</modal>


<script type="text/javascript" src="content/js/main.js"></script>