<div class="pusher">
	<div class="ui fluid container">
		<div class="ui two column grid">
			<div class="side menu" id="sideMenu">
				<div align="center" class="profile">
					<br>
					<a href=""><img src="content/img/piano-min.png" alt="Marry Doe" class="ui circular image" width="150px"></a>
					<div class="ui white header">{{globals.currentUser.source.LastName}} {{globals.currentUser.source.FirstName[0]}}. {{globals.currentUser.source.MiddleName[0]}}</div>
					<div class="ui divider"></div>
				</div>
				<div class="ui fluid vertical menu">
					<a href="#/main" class="item"><i class="dashboard icon"></i> <span>Главная</span></a>
					<a href="#/profile" class="item"><i class="user icon"></i> <span>Профиль</span></a>
                    <a href="#/message" class="item"><i class="mail icon"></i> <span>Сообщения</span></a>
					<a href="#/bankTest" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="student icon"></i> <span>Банк вопросов</span></a>
                    <a href="#/test" ng-if="globals.currentUser.source.RoleName != 'Администратор'" class="item"><i class="book icon"></i> <span>Тесты</span></a>
                    <a href="#/task" ng-if="globals.currentUser.source.RoleName != 'Администратор'" class="item"><i class="book icon"></i> <span>Задания</span></a>
					<a href="#/piano" class="item"><i class="table icon"></i> <span>Пианино</span></a>
					<a href="#/student" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="student icon"></i> <span>Ученики</span></a>
					<a href="#/constructor" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="dashboard icon"></i> <span>Конструктор заданий</span></a>
					<a href="#/user" ng-if="globals.currentUser.source.RoleName == 'Администратор'" class="item"><i class="dashboard icon"></i> <span>Пользователи</span></a>
					<a href="#/group" ng-if="globals.currentUser.source.RoleName == 'Администратор'" class="item"><i class="group icon"></i> <span>Группы</span></a>
					<!--<a href="chart.html" class="item"><i class="bar chart icon"></i> <span>Chart</span></a>
					<a href="card.html" class="item"><i class="block layout icon"></i> <span>Card</span></a>
					<a href="progress.html" class="item"><i class="tasks icon"></i> <span>Progress Bar</span></a>
					<a href="index.html" class="item"><i class="sign in icon"></i> <span>Login</span></a>
					<a href="dashboard.html" class="item"><i class="file icon"></i> <span>Sample</span></a>
					<a href="dashboard.html" class="item"><i class="file icon"></i> <span>Sample</span></a>-->
				</div>
			</div>

            <div class="sixteen wide column" id="content" ng-if="vm.id == '' && globals.currentUser.source.Id_Role !== 2">
                <h2><i class="book icon"></i> Тесты</h2>
                <div class="ui divider"></div>
                <table class="ui selectable celled table">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Сложность</th>
                            <th>Разработчик</th>
                            <th>Процент правильных ответов</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="test in vm.testList" ng-click="vm.goToTest(test)" ng-class="vm.getClassNameValidPercent(test.UserAnswerValidPercent)">
                            <td>{{test.Name}}</td>
                            <td>{{test.Complexity}}</td>
                            <td>{{test.LastName}} {{test.FirstName[0]}}. {{test.MiddleName[0]}}.</td>
                            <td>{{test.UserAnswerValidPercent}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="ui divider"></div>
                <div align="center">
                    Нажмите на строку из таблицы, чтобы начать тестирование
                </div>
            </div>

            <div class="sixteen wide column" id="content" ng-if="vm.id != '' && globals.currentUser.source.Id_Role !== 2">
                <h2><i class="book icon"></i> Тест {{ vm.currentTest.Name }}</h2>
                <div class="ui divider"></div>
				<div class="ui info ignored icon message">
					<i class="info letter icon"></i>
					<div class="content">
						<div class="header">Это задание является {{ (vm.currentTest.Id_User_TestType == 1) ? 'Обучающим' : 'Контрольным' }}</div>
						<ul class="list">
							<li ng-if="vm.currentTest.Questions[vm.currentQuestion].QuestionType == 2">Подсветка клавиш: {{ (vm.currentTest.Id_User_TestType == 1) ? 'включено' : 'отключено' }}</li>
							<li ng-if="vm.currentTest.Questions[vm.currentQuestion].QuestionType == 2">Подсказки: {{ (vm.currentTest.IsShowHints) ? 'включено' : 'отключено' }}</li>
							<li>Количество попыток: {{ vm.currentTest.CountAttempts }}</li>
						</ul>
					</div>
				</div>

				<h5>Осталось времени</h5>
				<div class="ui progress active" >
					<div class="bar" style="transition-duration: 300ms; width: {{ (vm.currentTest.TimingLeft / vm.currentTest.Timing) * 100 }}%;"></div>
					<div class="label">Осталось: {{ vm.parsedTimeLeft }}</div>
				</div>

                <div class="ui form" ng-if="vm.currentTest.Questions[vm.currentQuestion].QuestionType == 1">
                    <div class="grouped fields">
                        <h4 for="fruit">{{vm.currentTest.Questions[vm.currentQuestion].Name}} </h4>
                        <div>
                            <div class="ui blue vertical buttons">
                                <button ng-repeat="answer in vm.currentTest.Questions[vm.currentQuestion].Answers" ng-click="vm.setChoiceForQuestion(vm.currentTest.Questions[vm.currentQuestion], answer)" class="ui button">
                                    {{answer.Name}}
                                </button>
                            </div>
                        </div>
                        <!--<div class="field" ng-repeat="answer in vm.currentTest.Questions[vm.currentQuestion].Answers">
                    <div class="ui checkbox">
                        <input type="checkbox" name="answer" tabindex="0" class="hidden">
                        <label>{{answer.Name}}</label>
                    </div>
                </div>-->
                    </div>
                </div>

                <div class="ui divider"></div>
                <div align="center">

                </div>
            </div>
            
            <div class="sixteen wide column" id="content" ng-if="vm.id == '' && globals.currentUser.source.Id_Role === 2">
                <h2><i class="book icon"></i> Тесты</h2>
                <div class="ui divider"></div>
				
				<!--<div class="ui right aligned grid">
					<div class="row">
						<div class="fourteen wide column"></div>
						<div class="two wide column">
							<button class="ui button blue"
									ng-click="vm.addTest()">
								<i class="plus icon"></i>
								Добавить
							</button>
						</div>
					</div>
				</div>-->

                <table class="ui selectable celled table">
                    <thead>
                        <tr>
							<th></th>
                            <th>Название</th>
                            <th>Сложность</th>
                            <th>Разработчик</th>
							<th>Количество вопросов</th>
							<th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="test in vm.avalibleTestList">
							<td class="collapsing">
								<checkbox checked="false" ng-model="vm.selectedTests[test.Id]"></checkbox>
							</td>
                            <td>{{test.Name}}</td>
                            <td>{{test.Complexity}}</td>
                            <td>{{test.LastName}} {{test.FirstName[0]}}. {{test.MiddleName[0]}}.</td>
							<td>{{test.CountQuestions}}</td>
							<td class="collapsing">
								<div class="ui icon buttons">
									<button class="ui button"
											ng-click="vm.goToTest(test)">
										<i class="edit icon"></i>
									</button>
									<button class="ui button"
											ng-click="vm.deleteTest(test)">
										<i class="delete icon"></i>
									</button>
								</div>
							</td>
                        </tr>
                    </tbody>
					<tfoot class="full-width">
						<tr>
							<th></th>
							<th colspan="5">
								<button class="ui right floated small red labeled icon button"
									 ng-click="vm.deleteTests()">
									<i class="delete icon"></i> Удалить
								</button>
								<button class="ui small  button"
									 ng-click="vm.isShowGroupWindow = true"
									 ng-disabled="vm.selectedTests.length === 0">
									Назначить группе
								</button>
								<button class="ui small  button"
									 ng-click="vm.isShowUserWindow = true"
									 ng-disabled="vm.selectedTests.length === 0">
									Назначить учащемуся
								</button>
							</th>
						</tr>
					</tfoot>
                </table>

                <div class="ui divider"></div>
                <div align="center">
                    Нажмите на строку из таблицы, чтобы начать тестирование
                </div>
            </div>

            <div class="sixteen wide column" id="content" ng-if="vm.id != '' && globals.currentUser.source.Id_Role === 2">
                <h2><i class="book icon"></i> Редактирование теста  {{ vm.currentTest.Name }}</h2>
                <div class="ui divider"></div>

				<form class="ui form">
					<div class="field">
						<label>Название теста</label>
						<input type="text" name="first-name" placeholder="Введите название теста" ng-model="vm.currentTest.Name">
					</div>
					<div class="field">
						<label>Вопрос</label>
						<input type="text" name="first-name" placeholder="Введите вопрос" ng-model="vm.currentTest.Questions[vm.currentQuestionEditable].Name">
					</div>
				</form>

				<div class="ui grid" style="margin-top:5px">
					<div class="row">
						<div class="floated aligned six wide column"></div>
						<div class="right floated right aligned six wide column">
							<div class="ui primary button"
								 ng-click="vm.appnedAnswer(vm.currentTest.Questions[vm.currentQuestionEditable].Answers)">
								<i class="add icon"></i> Добавить ответ
							</div>
						</div>
					</div>
				</div>

				<div class="ui relaxed divided items">
					<div class="item" ng-repeat="answer in vm.currentTest.Questions[vm.currentQuestionEditable].Answers track by $index">
						<div class="content">
							<div class="ui grid">
								<div class="floated aligned six wide column">
									<a href="#" editable-text="answer.Name">{{ answer.Name || 'empty' }}</a>
								</div>
								<div class="right floated right aligned six wide column">
									<i class="ui checkmark big link icon" 
									   ng-class="answer.IsValid == true ? 'green' : ''"
									   ng-click="vm.setChoice(vm.currentTest.Questions[vm.currentQuestionEditable].Answers, answer)"></i>
									<i class="ui delete big red link icon"
									   ng-click="vm.removeAnswerInQuestion($index)"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="ui grid" style="margin-top:5px">
					<div class="row">
						<div class="left floated aligned six wide column">
							<button class="ui labeled icon primary button"
									ng-disabled="vm.currentTest.Questions[vm.currentQuestionEditable - 1] === undefined"
									ng-click="vm.moveToEditableQuestion(vm.currentQuestionEditable - 1)">
								<i class="left chevron icon"></i>
								Предыдущий
							</button>
						</div>
						<div class="right floated right aligned six wide column">
							<button class="ui right labeled icon primary button"
									ng-click="vm.moveToEditableQuestion(vm.currentQuestionEditable + 1)">
								Следующий
								<i class="right chevron icon"></i>
							</button>
						</div>
					</div>

					<div class="row">
						<div class="left floated aligned six wide column">
						</div>
						<div class="right floated right aligned six wide column">
							<button class="ui right labeled icon green button"
									ng-click="vm.updateEditableTest(vm.currentTest)"
									ng-disabled="vm.currentTest.Id_UserCreate != vm.currentUserSource().Id">
								 Сохранить
								<i class="checkmark chevron icon"></i>
							</button>
						</div>
					</div>
				</div>

                <div class="ui divider"></div>
                <div align="center">
                    ---
                </div>
            </div>
		</div>
	</div>
</div>

<modal class="basic" ng-model="vm.isTestComplete" ng-if="vm.testResult.Id !== undefined">
	<i class="close icon" ng-click="vm.closeTestResultModel()"></i>
	<div class="header">
		Поздравляем! вы прошли тест
	</div>
	<div class="image content">
		<div class="image">
			<i class="icon"
			   ng-class="(vm.testResult.UserAnswerValidPercent < 50) ? 'frown' : 'child'"></i>
		</div>
		<div class="description">
			<p>Поздравляем!</p>
			<p>Вы набрали {{vm.testResult.CountUserAnswerValid}} из {{vm.testResult.CountAnswerValid}} баллов</p>
			<p>Это составляет {{vm.testResult.UserAnswerValidPercent}}%</p>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<div class="ui ok green basic inverted button" ng-click="vm.closeTestResultModel()">
				<i class="checkmark icon"></i>
				Хорошо!
			</div>
		</div>
	</div>
</modal>

<modal ng-model="vm.isShowGroupWindow">
	<i class="close icon" ng-click="vm.closeTestResultModel()"></i>
	<div class="header">
		Выбор групп
	</div>
	<div class="content">
		<div class="description">
			<table class="ui selectable celled table">
				<thead>
					<tr>
						<th></th>
						<th>Название</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="group in vm.avalibleGroups">
						<td class="collapsing">
							<checkbox checked="false" ng-model="vm.selectedGroups[group.Id]"></checkbox>
						</td>
						<td>{{group.Name}}</td>
					</tr>
				</tbody>
			</table>
			<form class="ui form" name="groupForm">
				<div class="field">
					<label>Сложность</label>
					<dropdown name="complexity" open="false"
							  ng-model="vm.currentInputGroup.Complexity"
							  title="Выберете сложности">
                        <dropdown-group value="3">Тяжёлый</dropdown-group>
                        <dropdown-group value="2">Средний</dropdown-group>
                        <dropdown-group value="1">Лёгкий</dropdown-group>
					</dropdown>
				</div>
				<div class="field">
					<label>Попытки</label>
					<input type="text"
						   name="countAttempts"
						   placeholder="Введите кол-во попыток"
						   ng-model="vm.currentInputGroup.CountAttempts">
				</div>
				<div class="field">
					<label>Время выполнения</label>
					<input type="text"
						   name="timing"
						   placeholder="Введите время выполнения в минутах"
						   ng-model="vm.currentInputGroup.Timing">
				</div>
			</form>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<div class="ui ok green button" ng-click="vm.appendTestToGroup()">
				<i class="checkmark icon"></i>
				Назначить
			</div>
		</div>
	</div>
</modal>

<modal ng-model="vm.isShowUserWindow">
	<i class="close icon" ng-click="vm.closeTestResultModel()"></i>
	<div class="header">
		Выбор учащихся
	</div>
	<div class="content">
		<div class="description">
			<table class="ui selectable celled table">
				<thead>
					<tr>
						<th></th>
                        <th>Название</th>
                        <th></th>
						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="student in vm.avalibleStudents">
						<td class="collapsing">
							<checkbox checked="false" ng-model="vm.selectedStudents[student.Id]"></checkbox>
						</td>
                        
						<td>{{student.LastName + ' ' + student.FirstName[0] + '. ' + student.MiddleName[0]}}</td>
                        <td class="collapsing">
                            <img class="ui image"
                                 style="max-width:4em;"
                                 src="{{ (student.Photo !== undefined && student.Photo !== null) ? 'http://localhost:59744/Uploads/Images/' + student.Photo : 'content/img/piano-min.png' }}"
                                 alt="Alternate Text" />
                        </td>
					</tr>
				</tbody>
			</table>
			<form class="ui form" name="groupForm">
				<div class="field">
					<label>Сложность</label>
					<dropdown name="complexity" open="false"
							  ng-model="vm.currentInputGroup.Complexity"
							  title="Выберете сложности">
                        <dropdown-group value="3">Тяжёлый</dropdown-group>
                        <dropdown-group value="2">Средний</dropdown-group>
                        <dropdown-group value="1">Лёгкий</dropdown-group>
					</dropdown>
				</div>
				<div class="field">
					<label>Попытки</label>
					<input type="text"
						   name="countAttempts"
						   placeholder="Введите кол-во попыток"
						   ng-model="vm.currentInputGroup.CountAttempts">
				</div>
				<div class="field">
					<label>Время выполнения</label>
					<input type="text"
						   name="timing"
						   placeholder="Введите время выполнения в минутах"
						   ng-model="vm.currentInputGroup.Timing">
				</div>
			</form>
		</div>
	</div>
	<div class="actions">
		<div class="two fluid ui inverted buttons">
			<div class="ui ok green button" ng-click="vm.appendTestToUser()">
				<i class="checkmark icon"></i>
				Назначить
			</div>
		</div>
	</div>
</modal>

<script type="text/javascript" src="content/js/main.js"></script>