<div class="pusher">
	<div class="ui fluid container">
		<div class="ui two column grid">
			<div class="side menu" id="sideMenu">
				<div align="center" class="profile">
					<br>
					<a href=""><img src="content/img/piano-min.png" alt="Marry Doe" class="ui circular image" width="150px"></a>
					<div class="ui white header">{{globals.currentUser.source.LastName}} {{globals.currentUser.source.FirstName[0]}}. {{globals.currentUser.source.MiddleName[0]}}</div>
					<div class="ui divider"></div>
				</div>
                <div class="ui fluid vertical menu" style="overflow-y:auto !important">
                    <a href="#/main" class="item"><i class="dashboard icon"></i> <span>Главная</span></a>
                    <a href="#/profile" class="item"><i class="user icon"></i> <span>Профиль</span></a>
                    <a href="#/message" class="item"><i class="mail icon"></i> <span>Сообщения</span></a>
                    <a href="#/bankTest" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="student icon"></i> <span>Банк вопросов</span></a>
                    <a href="#/test" ng-if="globals.currentUser.source.RoleName != 'Администратор'" class="item"><i class="book icon"></i> <span>Тесты</span></a>
                    <a href="#/task" ng-if="globals.currentUser.source.RoleName != 'Администратор'" class="item"><i class="book icon"></i> <span>Задания</span></a>
                    <a href="#/piano" ng-if="globals.currentUser.source.RoleName != 'Администратор'" class="item"><i class="table icon"></i> <span>Пианино</span></a>
                    <a href="#/student" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="student icon"></i> <span>Ученики</span></a>
                    <!--<a href="#/constructor" ng-if="globals.currentUser.source.RoleName == 'Учитель'" class="item"><i class="dashboard icon"></i> <span>Конструктор заданий</span></a>-->
                    <a href="#/user" ng-if="globals.currentUser.source.RoleName == 'Администратор'" class="item"><i class="dashboard icon"></i> <span>Пользователи</span></a>
                    <a href="#/group" ng-if="globals.currentUser.source.RoleName == 'Администратор'" class="item"><i class="group icon"></i> <span>Группы</span></a>
                    <!--<a href="chart.html" class="item"><i class="bar chart icon"></i> <span>Chart</span></a>
        <a href="card.html" class="item"><i class="block layout icon"></i> <span>Card</span></a>
        <a href="progress.html" class="item"><i class="tasks icon"></i> <span>Progress Bar</span></a>
        <a href="index.html" class="item"><i class="sign in icon"></i> <span>Login</span></a>
        <a href="dashboard.html" class="item"><i class="file icon"></i> <span>Sample</span></a>
        <a href="dashboard.html" class="item"><i class="file icon"></i> <span>Sample</span></a>-->
                </div>
			</div>
			<div class="sixteen wide column" id="content" ng-if="vm.id == ''">
				<h2><i class="book icon"></i> Пользователи</h2>
				<div class="ui divider"></div>

				<!--<div class="ui right aligned grid">
					<div class="row">
						<div class="fourteen wide column"></div>
						<div class="two wide column">
							<button class="ui button blue"
									ng-click="vm.addUser()">
								<i class="plus icon"></i>
								Добавить
							</button>
						</div>
					</div>
				</div>-->

				<div id="filterRole" class="ui floating labeled icon dropdown button">
					<i class="filter icon"></i>
					<span class="text">По роли</span>
					<div class="menu">
						<div class="header">
							<i class="tags icon"></i>
							Фильтр по роли
						</div>
						<div class="divider"></div>
						<div class="item" ng-click="vm.filterByRole = null">
							<i class="delete icon"></i>
							Без фильтра
						</div>
						<div class="divider"></div>
						<div class="item" ng-click="vm.filterByRole = { Name: 'Администратор' }">
							<i class="diamond icon"></i>
							Администратор
						</div>
						<div class="item" ng-click="vm.filterByRole = { Name: 'Учитель' }">
							<i class="travel icon"></i>
							Учитель
						</div>
						<div class="item" ng-click="vm.filterByRole = { Name: 'Ученик' }">
							<i class="student icon"></i>
							Ученик
						</div>
					</div>
				</div>

				<table class="ui called padded very compactable celled table">
					<thead>
						<tr>
							<th></th>
                            <th></th>
							<th>Роль</th>
							<th>Группа</th>
							<th>ФИО</th>
							<th>Логин</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
                        <tr ng-repeat="user in vm.users | filter : vm.filterByRole">
							<td class="collapsing">
								<checkbox checked="false" ng-model="vm.deletable[user.Id]"></checkbox>
							</td>
                            <td class="collapsing">
                                <img class="ui image"
                                     style="max-width:4em;"
                                     src="{{ (user.Photo !== undefined && user.Photo !== null) ? 'http://localhost:59744/Uploads/Images/' + user.Photo : 'content/img/piano-min.png' }}"
                                     alt="Alternate Text" />
                            </td>
							<td>{{user.Name}}</td>
							<td>{{user.Group_Name}}</td>
                            <td>{{user.LastName}} {{user.FirstName[0]}}. {{user.MiddleName[0]}}.</td>
                            <td>{{user.Login}}</td>
                            <td class="collapsing">
								<div class="ui icon buttons">
                                    <button class="ui button"
                                            ng-if="!user.IsApproved"
                                            ng-click="vm.approvedUser(user)">
                                        <i class="checkmark icon"></i>
                                    </button>
									<button class="ui button"
											ng-click="vm.goToUser(user.Id)">
										<i class="edit icon"></i>
									</button>
									<button class="ui button"
											ng-click="vm.deleteUser(user)">
										<i class="delete icon"></i>
									</button>
								</div>
							</td>
                        </tr>
					</tbody>
					<tfoot class="full-width">
						<tr>
							<th></th>
							<th colspan="6">
								<div class="ui right floated small primary labeled icon button"
									 ng-click="vm.addUser()">
									<i class="user icon"></i> Добавить пользователя
								</div>
								<div class="ui small  button"
									 ng-click="vm.deleteUsers()">
									Удалить выделенных
								</div>
							</th>
						</tr>
					</tfoot>
				</table>

				<div class="ui divider"></div>
				<div align="center">
					<!--Тестовая версия-->
				</div>
			</div>

			<div class="sixteen wide column" id="content" ng-if="vm.id != ''">
				<h2><i class="book icon"></i> Редактирование пользователя  {{ vm.currentTest.Name }}</h2>
				<div class="ui divider"></div>

				<form class="ui form" name="userForm">
					<div ng-init="vm.userForm = userForm"></div>
                    <!--<div class="field" ng-if="vm.roles.length >= 1 && vm.currentUser !== null">
                        <label>Роль</label>
						<div ng-show="userForm.$submitted || userForm.uRole.$touched">
							<div ng-show="userForm.uRole.$error.required">Необходимо выбрать роль.</div>
						</div>
                        <dropdown open="false"
                                  ng-model="vm.currentUser.Name"
                                  title="Выберете роль"
								  name="uRole"
								  required="">
                            <dropdown-group value="c.Name" title="c.Name" ng-repeat="c in vm.roles">{{c.Name}}</dropdown-group>
                        </dropdown>
                    </div>-->

					<div class="field" ng-if="vm.roles.length >= 1 && vm.currentUser !== null">
						<label>Роль</label>
						<div ng-show="userForm.$submitted || userForm.uRole.$touched">
							<div ng-show="userForm.uRole.$error.required">Необходимо выбрать роль.</div>
						</div>
						<select name="uRole"
								ng-model="vm.currentUser.Name"
								ng-options="service.Name as service.Name for service in vm.roles"
								required>
							<option value="">Выбрать роль</option>
						</select> 
					</div>

                    <div class="field" ng-if="vm.groups.length >= 1 && vm.currentUser !== null">
                        <label>Группа</label>
						<select name="currentUser_Group"
								ng-model="vm.currentUser.Group_Name"
								ng-options="group.Name as group.Name for group in vm.groups"
								ng-required="vm.currentUser.Name == 'Ученик'"
								>
							<option value="">Выбрать группу</option>
						</select> 
                        <!--<dropdown name="currentUser_Group" open="false"
                                  ng-model="vm.currentUser.Group_Name"
                                  title="Выберете группу">
                            <dropdown-group value="c.Name" title="c.Name" ng-repeat="c in vm.groups">{{c.Name}}</dropdown-group>
                        </dropdown>-->
                    </div>

                    <!--<div class="field" ng-if="vm.teachers.length >= 1 && vm.currentUser !== null">
                        <label>Преподаватель</label>
                        <dropdown name="currentUser_Teacher" open="false"
                                  ng-model="vm.currentUser.Teacher_Login"
                                  title="Выберете преподавателя">
                            <dropdown-group value="c.Login" title="c.Login" ng-repeat="c in vm.teachers">{{c.LastName + ' ' + c.FirstName[0] + '. ' + c.MiddleName[0]}}</dropdown-group>
                        </dropdown>
                    </div>-->

					<div class="field">
						<label>Фамилия *</label>

                        <div class="ui corner labeled input">
                            <input type="text"
                                   name="first-name"
                                   placeholder="Введите фамилию"
                                   ng-model="vm.currentUser.LastName">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
					</div>
					<div class="field">
						<label>Имя *</label>

                        <div class="ui corner labeled input">
                            <input type="text"
                                   name="first-name"
                                   placeholder="Введите имя"
                                   ng-model="vm.currentUser.FirstName">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
					</div>
					<div class="field">
						<label>Отчество</label>
						<input type="text"
							   name="first-name"
							   placeholder="Введите отчество"
							   ng-model="vm.currentUser.MiddleName">
					</div>
					<div class="field">
						<label>Логин *</label>
						<div ng-show="userForm.$submitted || userForm.login.$touched">
							<div ng-show="userForm.login.$error.required">Необходимо ввести логин.</div>
						</div>
                        <div class="ui corner labeled input">
                            <input type="text"
                                   name="login"
                                   placeholder="Введите логин"
                                   ng-model="vm.currentUser.Login"
                                   ng-readonly="vm.id != 'new'"
                                   required="">
                            <div class="ui corner label">
                                <i class="asterisk icon"></i>
                            </div>
                        </div>
					</div>
					<div class="field">
						<label>Пароль *</label>

                        <div class="ui action labeled input">
                            <input type="text"
                                   name="first-name"
                                   placeholder="Введите пароль"
                                   ng-model="vm.currentUser.Password"
                                   disabled>
                            <button class="ui teal right labeled icon button"
                                    ng-click="vm.resetPassword(vm.currentUser)">
                                <i class="copy icon"></i>
                                Сбросить пароль
                            </button>
                        </div>
					</div>
					<div class="field">
						<label>Почта</label>
						<input type="text"
							   name="email"
							   placeholder="Введите адрес почты"
							   ng-model="vm.currentUser.Email">
					</div>
					<div class="field">
						<label>Телефон</label>
						<input type="text"
							   name="phone"
							   placeholder="Введите номер телефона"
							   ng-model="vm.currentUser.Phone">
					</div>
				</form>

                <div class="ui right aligned grid">
                    <div class="row"></div>
                    <div class="row">
                        <div class="fourteen wide column"></div>
                        <!--<div class="two wide column">
                            <button class="ui button red"
                                    ng-click="vm.deleteUser()">
                                <i class="delete icon"></i>
                                Удалить
                            </button>
                        </div>-->
                        <div class="two wide column">
                            <button class="ui button blue"
                                    ng-click="vm.updateUser()"
									type="submit"
									ng-disabled="userForm.$invalid">
                                <i class="plus icon"></i>
                                 {{ (vm.id == 'new' ? 'Создать' : 'Сохранить')  }}
                            </button>
                        </div>
                    </div>
                </div>

				<div class="ui divider"></div>
				<div align="center">
					<!------->
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="content/js/main.js"></script>